body {
  font-family: "Poppins", sans-serif;
}

#navbarNav > ul > li:nth-child(n) > a:hover {
  color: #00bf85;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #00bf85;
}

.jumbotron {
  padding-top: 8rem;
  padding-bottom: 5rem;
  background-image: url(img/jumbotron.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.portfolio-img {
  width: 100%;
  height: 250px;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

#gallery {
  background-image: url(img/jumbotron.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
