body {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  padding-top: 8rem;
  padding-bottom: 5rem;
  background-color: #92c6f7;
}

#portofolio {
  background-color: #92c6f7;
}

.card-img-top {
  width: 100%;
  height: 250px;
}
